

{% load static %}

<script src="{% static 'client/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'client/js/bootstrap.min.js' %}"></script>
<script src="{% static 'client/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'client/js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'client/js/jquery.nicescroll.min.js' %}"></script>
<script src="{% static 'client/js/slick.min.js' %}"></script>
<script src="{% static 'client/js/biolife.framework.js' %}"></script>
<script src="{% static 'client/js/functions.js' %}"></script>